.container{
    /* border: 2px solid green; */
    height: 600px;
    /* max-width: 1200px; */
    margin-left: 200px;
    margin-right: 200px;
    
  
}

.container img{
    width: 100%;
    display: block;
}
.center{
    position: absolute;
    top: 450px;
    left: 900px;
}
span{
    background-color: #000000;
    color: white;
    padding: 20px;
    font-size:20px;
}

.container2{
    /* border: 2px solid red; */
    height: 600px;
    margin-top: 300px;
    margin-left: 200px;
    margin-right: 200px;
    
}

.container3{
    /* border: 2px solid green; */
    height: 300px;
    margin-top: 40px;
    
}
.child-1{
    display: inline-block;
    /* border: 2px solid blue; */
    margin: 0px;
    width: 380px ;
    /* height:300px ; */
   position: relative;
   
    
}
.image {
    width: 100%;
    height: auto;
    display: block;
}

.child-2{
    display: inline-block;
    /* border: 2px solid blue; */
    width: 380px ;
    /* height:300px ; */
    margin-left: 18px;
     position: relative;
}
.child-3{
    display: inline-block;
    /* border: 2px solid blue; */
    width: 380px ;
    /* height:300px ; */
     margin-left: 18px;
      position: relative;
}
.child-4{
    display: inline-block;
    /* border: 2px solid blue; */
    width: 380px ;
     margin-left: 18px;
    /* height:300px ; */
     position: relative;
}


h3{
    background-color: black;
    color: white;
    padding: 15px;
    margin: 0px;
    font-size: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.container4{
    /* border:2px solid green; */
    height: 300px;
    margin-top: 40px;

}

.container2 h2 {
    font-size: 25px;
    margin-bottom: 10px;
}
.container2 hr {
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
